<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="UTF-8">
    <title>内蒙古工业大学排考系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-body layui-anim layui-anim-up">
        <form class="layui-form">
          <div class="layui-form-item">
              <label for="L_classroomnum" class="layui-form-label">
                  <span class="x-red">*</span>教学楼编号
              </label>
              <div class="layui-input-inline">
                  <select type="text" id="L_classroomnum" name="teachbuilding" required="" lay-verify=""
                          autocomplete="off" class="layui-input">
                      <option value=""></option>
                      <option value="A">A</option>
                      <option value="B">B</option>
                      <option value="C">C</option>
                      <option value="D">D</option>
                  </select>
              </div>
              <br/>
              <br/>
              <br/>
              <div class="layui-form-item">
                  <label for="L_classroomnum" class="layui-form-label">
                      <span class="x-red">*</span>教室编号
                  </label>
                  <div class="layui-input-inline">
                      <input type="text" id="L_classroomnum" name="classroomnum" required="" lay-verify=""
                             autocomplete="off" class="layui-input">
                  </div>
              </div>
              <div class="layui-form-item">
                  <label for="L_classroomnum" class="layui-form-label">
                      <span class="x-red">*</span>教室可以考试人数
                  </label>
                  <div class="layui-input-inline">
                      <input type="text" id="classroomcount" name="classroomcount" required="" lay-verify=""
                             autocomplete="off" class="layui-input">
                  </div>
              </div>
          </div>

          <div class="layui-form-item">
              <label class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  增加
              </button>
          </div>
      </form>
    </div>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;

            //自定义验证规则


          //监听提交
          form.on('submit(add)', function(data){
              $.ajax({
                  type:"post",
                  async:true,
                  url:"/classRoom",
                  data:data.field,
                  dateType:"json",
                  success:function () {
                      layer.alert("增加成功", {icon: 6},function () {
                          //刷新界面
                          window.parent.location.reload();
                          // 获得frame索引
                          var index = parent.layer.getFrameIndex(window.name);
                          //关闭当前frame
                          parent.layer.close(index);
                      });
                  },
                  error:layer.alert("系统忙，请稍后重试")
              })
            return false;
          });
          
          
        });
    </script>

  </body>

</html>