<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mx.mapper.ExamMapper">
    <resultMap id="ExamList" type="com.mx.bean.Exam">
        <result column="id" property="id"/>
        <result column="classroom" property="classroom"/>
        <result column="invigilator" property="invigilator"/>
        <result column="examsubject" property="examsubject"/>
        <result column="examtime" property="examtime"/>
        <result column="examclass" property="examclass"/>
    </resultMap>
    <insert id="addExam" parameterType="com.mx.bean.Exam">
        INSERT INTO exam_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="classroom != null">
                classroom,
            </if>
            <if test="invigilator != null">
                invigilator,
            </if>
            <if test="examsubject != null">
                examsubject,
            </if>
            <if test="examtime != null">
                examtime,
            </if>
            <if test="examclass != null">
                examclass,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="classroom != null">
                #{classroom},
            </if>
            <if test="invigilator != null">
                #{invigilator},
            </if>
            <if test="examsubject != null">
                #{examsubject},
            </if>
            <if test="examtime != null">
                #{examtime},
            </if>
            <if test="examclass != null">
                #{examclass},
            </if>
        </trim>
    </insert>

    <delete id="deleteExam">
        DELETE FROM exam_info WHERE id = #{id}
    </delete>

    <update id="updateExam" parameterType="com.mx.bean.Exam">
        UPDATE exam_info
        <trim prefix="set" suffixOverrides=",">
            <if test="classroom != null">
                classroom=#{classroom},
            </if>
            <if test="invigilator != null">
                invigilator=#{invigilator},
            </if>
            <if test="examsubject != null">
                examsubject=#{examsubject},
            </if>
            <if test="examtime != null">
                examtime=#{examtime},
            </if>
            <if test="examclass != null">
                examclass=#{examclass},
            </if>
        </trim>
        WHERE id = #{id}
    </update>

    <select id="findAllExam" resultMap="ExamList">
        SELECT * FROM exam_info
    </select>

    <select id="querryExamById" resultType="com.mx.bean.Exam">
        SELECT * FROM exam_info WHERE id = #{id}
    </select>

    <!--<select id="querryExamByDate" resultType="java.lang.Integer">
        SELECT count(*) FROM exam_info WHERE examtime = #{date}
    </select>-->

    <select id="selectExamByName" resultMap="ExamList" >
        SELECT * FROM exam_info WHERE invigilator LIKE "%"#{invigilator}"%"
    </select>

    <delete id="deleteExamByIds" >
        DELETE FROM exam_info WHERE id IN
        <foreach collection="list" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>

</mapper>